.flexElement {
    border: 0.3px solid black;
    background-color: grey;
    width: 0.5rem;
    height: 0.5rem;
    box-sizing: border-box;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 128px; */
    max-width: 40px;
    border: 0.7px solid blueviolet;

    margin: 0 auto;
}

.title {
    text-align: center;
}

.reset-grid {
    margin: 4px;
    font-size: 8px
}